{% extends 'base.html' %}

{% block content %}

<!-- Hero Banner -->
<section class="hero-banner position-relative" style="height: 150px; width: 100vw; background: url('path-to-your-image.jpg') no-repeat center center / cover, rgba(0, 0, 0, 0.7); color: white; margin-left: calc(-50vw + 50%);">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background: rgba(0, 0, 0, 0.7);">
        <div class="text-container text-center text-light">
            <h1>Add Job!</h1>
            <p class="mb-0" style="font-size: 1rem;">Add a new job!</p>
        </div>
    </div>
</section>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh; padding-top: 0px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="{% url 'add_job' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <br/><br/>
            <center>
            <button type="submit" class="btn btn-secondary">
            Add job
            </button>
            </center>

            </form>

            </div>
       
   </div>
</div>
{% endblock %}
