{% extends 'base.html' %}



{% block content %}
    <!-- Hero Section -->
    <br/>
    <br/> <br/>
    <center>
    <section>
        <h1><strong>Find Your Dream Job</strong></h1>
        <p>Search for jobs or post vacancies easily.</p>
    </section>
</center>

    <center>
        <br/> </br> </br> </br>


    <!-- Job Listings Section -->
    <section>
        <h2> Available Jobs! </h2>
    </br> </br>
        <div class="container">
        <div class="row">
            {% for job in jobs %}
                <div class="col-md-4">  <!-- Using col-md-3 to fit 4 cards in a row -->
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ job.title }}</h5>
                            <p class="card-text">{{ job.location }}  {{ job.job_type }}</p>
                            <p class="card-text">{{ job.description }} </p>
                            <a href="#" class="btn btn-secondary">Apply Now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if jobs|length == 0 %}
                <p>No jobs available at the moment.</p>
            {% endif %}
        </div>
    </div>
</section>
    </center>
    
     <br/>
    <br/> <br/>
    <br/> <br/>
    <br/> <br/>
    <br/> <br/>
    <br/>

</body>
</html>
{% endblock %}